body {

  color: #f7f7f7;
}
.jumbotron {
  background-image: url("../images/nasa.jpg");
  background-size: 100% 100%;
  text-align: center;
}

#filter-btn {
  background-color: white;
  color: black;
  padding: 5px 20px;
  margin-left: 25%;
  margin-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid black;
}

#filter-btn:hover{
  background-color: black;
  color:white;
}